<p>olympic-global-graph works!</p>

<div *ngIf="participationStats$ | async as stats; else noStats">
  <div class="title-box">
    <h1>Médailles par pays</h1>
  </div>

  <div class="stats-container">

    <!-- Cadre 1 : Nombre d'années de JOs -->
    <div class="stat-box">
      <h2>Nombre de JOs</h2>
      <p>{{ stats.countYearsJo }}</p>
    </div>

    <!-- Cadre 2 : Nombre de pays -->
    <div class="stat-box">
      <h2>Nombre de pays</h2>
      <p>{{ stats.countCountries }}</p>
    </div>

  </div>
</div>

<!-- en cas d'absence de participationStats$ -->
<ng-template #noStats>
  <p class="no-data-message">Données de participation indisponibles.</p>
</ng-template>

<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
  <ngx-charts-pie-chart
    [view]="[700, 400]"
    [results]="medalPieData$ | async"
    [legend]="false"
    [explodeSlices]="false"
    [labels]="true"
    [doughnut]="false"
    [gradient]="false"
    [legendTitle]="'Pays'"
    (select)="onSelectSlicePie($event)">
    <ng-template #tooltipTemplate let-model="model">
      <div ngx-tooltip>
        <p>{{ model.name }}</p>
        <p>🏅 {{ model.value }}</p>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>

<!-- div class="stats-block" *ngIf="medalsCountByCountry$ | async as olympicStats; else noMedals">
  <div *ngFor="let stat of olympicStats">
    <div class="card" (click)="goToDetailCountryStats(stat.id)" [ngStyle]="{ 'height.px': getCardHeight(stat.medalsCount) }">
      {{ stat.country }} : {{ stat.medalsCount }} médailles
    </div>
  </div>
</div>

<ng-template #noMedals>
  <p class="no-data-message">Aucune donnée de médailles disponible actuellement.</p>
</ng-template -->
