<div *ngIf="boxStats as stats; else noStats">

  <div class="title-box">
    <h1>{{ stats.name }}</h1>
  </div>

  <div class="stats-container">
    <div class="stat-box" *ngFor="let stat of stats.stats">
      <h2>{{ stat.label }}</h2>
      <p>{{ stat.value }}</p>
    </div>
  </div>
</div>

<ng-template #noStats>
  <div class="no-data-container">
    <h2>Données statistiques non disponibles pour ce pays</h2>
    <p>Nous n'avons pas pu trouver de statistiques disponibles.
      Veuillez réessayer plus tard ou vérifier votre recherche.</p>
  </div>
</ng-template>
