<p>olympic-country-graph works!</p>
<div *ngIf="statsForCountry$ | async as stats; else noData">
  <div class="title-box">
    <h1>{{ stats.country }}</h1>
  </div>

  <div class="stats-container">

    <div class="stat-box">
      <h2>Nombre de participations</h2>
      <p>{{ stats.participationsCount }}</p>
    </div>

    <div class="stat-box">
      <h2>Nombre total de médailles</h2>
      <p>{{ stats.medalsCount }}</p>
    </div>

    <div class="stat-box">
      <h2>Nombre total d'athlètes</h2>
      <p>{{ stats.athletes }}</p>
    </div>

  </div>
</div>

<!-- Bloc alternatif si aucune donnée n'est trouvée -->
<ng-template #noData>
  <div class="no-data-container">
    <h2>Aucune donnée pour ce pays</h2>
    <p>Nous n'avons pas pu trouver de statistiques disponibles pour ce pays. Veuillez réessayer plus tard ou vérifier
      votre recherche.</p>
  </div>
</ng-template>

<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 500px;">
  <ngx-charts-line-chart
    [view]="[700, 400]"
    [results]="lineChartData$ | async"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Dates'"
    [yAxisLabel]="'Nombre médailles'"
    [autoScale]="true"
    class="line-chart">
  </ngx-charts-line-chart>
</div>
