<!-- p>olympic-country-graph works!</p -->
<!-- div *ngIf="statsForCountry$ | async as stats; else noData">
  <div class="title-box">
    <h1>{{ stats.country }}</h1>
  </div>

  <div class="stats-container">

    <div class="stat-box">
      <h2>Nombre de participations</h2>
      <p>{{ stats.participationsCount }}</p>
    </div>

    <div class="stat-box">
      <h2>Nombre total de médailles</h2>
      <p>{{ stats.medalsCount }}</p>
    </div>

    <div class="stat-box">
      <h2>Nombre total d'athlètes</h2>
      <p>{{ stats.athletes }}</p>
    </div>

  </div -->
<div *ngIf="lineChartData as stats; else noData">
  <div class="chart-container">
    <ngx-charts-line-chart
      [results]="lineChartData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Dates'"
      [yAxisLabel]="'Nombre médailles'"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
</div>

<!-- Bloc alternatif si aucune donnée n'est trouvée -->
<ng-template #noData>
  <div class="no-data-container">
    <h2>Aucune donnée pour ce pays</h2>
    <p>Nous n'avons pas pu trouver de statistiques disponibles.
      Veuillez réessayer plus tard ou vérifier votre recherche.</p>
  </div>
</ng-template>


