<div *ngIf="lineChartData && lineChartData.length > 0; else noData">
  <div class="chart-container">
    <ngx-charts-line-chart
      [results]="lineChartData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Dates'"
      [yAxisLabel]="'Nombre médailles'"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>
</div>

<!-- Bloc alternatif si aucune donnée n'est trouvée -->
<ng-template #noData>
  <div class="no-data-container">
    <h2>Aucune donnée pour ce pays</h2>
    <p>Nous n'avons pas pu trouver de statistiques disponibles.
      Veuillez réessayer plus tard ou vérifier votre recherche.</p>
  </div>
</ng-template>
