.title-box {
  display: flex; /* Permet un alignement flexible */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement dans la boîte */
  background-color: #008b8b; /* Turquoise plus foncé */
  border: 1px solid #006f6f; /* Bordure encore légèrement plus foncée */
  border-radius: 10px; /* Bords arrondis */
  padding: 10px 15px; /* Espacement interne autour du texte */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
  text-align: center; /* Centre le texte à l'intérieur de la boîte */
  width: fit-content; /* La largeur s'ajuste au contenu */
  margin: 10px auto; /* Centre la boîte horizontalement et ajoute un espacement */
}

.title-box h1 {
  font-size: 2.5rem; /* 40px / 16 = 2.5rem */
  font-family: 'Arial', sans-serif; /* Police propre */
  color: white; /* Couleur du texte en blanc */
  margin: 0; /* Supprime toute marge supplémentaire */
}

.stats-container {
  display: flex; /* Active le mode Flexbox */
  justify-content: space-between; /* Espacement entre les divs */
  gap: 10px; /* Espacement entre les cadres */
  flex-wrap: wrap; /* Permet aux divs de passer à la ligne si nécessaire */
  margin: 20px auto; /* Centre le conteneur horizontalement */
  max-width: 1000px; /* Largeur maximale pour contrôler l'apparence */
}

.stat-box {
  flex: 1; /* Permet à chaque boîte d'occuper un espace égal */
  min-width: 250px; /* Largeur minimale avant qu'elles passent l'une sous l'autre */
  background-color: white; /* Fond blanc */
  border: 2px solid #008b8b; /* Bordure turquoise foncé */
  border-radius: 10px; /* Bords arrondis */
  padding: 1px; /* Espacement interne réduit mais équilibré */
  text-align: center; /* Centre le texte dans chaque boîte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}

.stat-box h2 {
  font-size: 1.875rem; /* 30px / 16 = 1.875rem */
  color: #333; /* Couleur principale des titres */
  font-weight: normal; /* Texte non gras */
  margin-bottom: 5px; /* Espacement bas réduit pour le titre */
  min-width: 20px;
}

.stat-box p {
  font-size: 1.875rem; /* 30px / 16 = 1.875rem */
  color: black; /* La couleur turquoise foncée des valeurs */
  font-weight: bolder; /* Texte en gras pour les valeurs */
  margin: 0 0 15px; /* Augmente l'espacement en bas (margin-bottom: 15px) */
}

.no-data-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.no-data-container h2 {
  font-size: 1.8rem;
  color: #333;
}

.no-data-container p {
  font-size: 1.2rem;
  color: #555;
}
