.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: auto;
}

.loading-spinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;//spin est nom de l'animation ci-dessous
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
