<div *ngIf="globalGraph?.serieDatas">
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 400px;"
       (dblclick)="onToggleChart()">
    <ngx-charts-pie-chart
      *ngIf="chartType === 'pie'"
      [results]="globalGraph?.serieDatas"
      [legend]="false"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      [gradient]="false"
      (select)="onSelectSlice($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div ngx-tooltip>
          <p>{{ model.name }}</p>
          <p>🏅 {{ model.value }}</p>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
    <ngx-charts-bar-vertical
      *ngIf="chartType === 'bar'"
      [results]="globalGraph?.serieDatas"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="false"
      [showDataLabel]="true"
      [barPadding]="10"
      (select)="onSelectSlice($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div ngx-tooltip>
          <p>{{ model.name }}</p>
          <p>🏅 {{ model.value }}</p>
        </div>
      </ng-template>
    </ngx-charts-bar-vertical>
  </div>
</div>

