<div *ngIf="medalPieData">
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 400px;">
    <ngx-charts-pie-chart
      [results]="medalPieData"
      [legend]="false"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      [gradient]="false"
      [legendTitle]="'Pays'"
      (select)="onSelectSlicePie($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div ngx-tooltip>
          <p>{{ model.name }}</p>
          <p>🏅 {{ model.value }}</p>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
</div>
